.outer{
  width: 100%;
  padding: .2rem 0;
  border-bottom: 0.1rem solid #f6f6f6;
  .inner{
    text-align:center;
    font-size: .4rem;
    color: #6c6d6d;
    position: relative;
  }
  a{
    position: absolute;
    top: 0;
    right: .2rem;
    font-size: .3rem;
    line-height: .4rem;
    color:#108ee9;
    text-decoration: none;
  }
}
.NotContent{
  padding: .6rem .2rem;
  color:#333;
  background: #fff;
  border-bottom:.2rem solid  #f6f6f6;
  .title{
      font-size: .3rem;
      color:#2D2626;;
     }
    .note{
      padding-top: .3rem;
      color:#6c6d6d;
      font-size: .24rem;
    }
}
.dayta{
  font-size: .3rem;
  min-height: 5.8rem;
  border-bottom:.2rem solid  #f6f6f6;
}
.btn {
  width: 2.8rem;
  height: 0.7rem;
  // flex: 0 0 30%;
  // height: 2rem;
  // margin: 1rem 0;
  // line-height: 2rem;
}
.accredit{
  text-align: center;
  margin: .2rem 0;
}
